[global_config]
	focus = system
	borderless = True
	window_state = maximise
	inactive_color_offset = 0.79
	title_inactive_bg_color = "#000000"
	title_inactive_fg_color = "#f0f0f0"
	title_transmit_bg_color = "#000000"
	#disable_real_transparency = False

[keybindings]
	full_screen = <Ctrl><Shift>F11

[profiles]
[[default]]
	use_system_font = False
	#font = 'Droid Sans Mono Dotted for Powerline 11'
	font = 'Ubuntu Mono derivative Powerline Regular 13'
	background_image = None
	background_color = "#000000" 
	#foreground_color = "#FFFFFF"
	foreground_color = "#f0f0f0"
	scrollback_lines = '2000'    
	scrollbar_position = disabled
	cursor_blink = True
	cursor_color = "#ff0000"
	copy_on_selection = True
	background_type = transparent
	background_darkness = 0.7
